.popup_disabled {
  background-color: #ccc; /* Light gray color */
  color: #666; /* Darker gray text */
  border: 1px solid #ddd; /* Light border */
  cursor: not-allowed; /* Indicates the button is not clickable */
  opacity: 0.6; /* Make the button look faded */
  
}

.popup_disable{
  display: none;
}
/* To prevent the button from being clickable */
.popup_disabled[disabled] {
  pointer-events: none; /* Disable all mouse events */
}

.popup__error{
  color: red;
  margin-left: 20px;
}

