.popup{
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
  }
  
  .form__profile{
    width: 500px;
    height: 490px;
    margin: 0px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  
  
  @media screen and (min-width: 320px) and (max-width: 768px) {
    .form__profile {
      width: 450px;
      height: 450px;
      top: 350px;
      position: absolute;
    }
  }