.profile__information {
  flex-basis: 500px;
}


@media screen and (min-width: 320px) and (max-width: 768px) {
  .profile__information {
   width: 100%;
   margin-left: 104px;
   flex-basis: 80px;
   
  }
}

#profile-profesion{
  text-align: center;
  font-weight: 400;
}

#profile-name{
  text-align: center;
  margin-left: 30px;
}